.cabecalho{
    text-align: center;
}
.ancora{
    text-align: center;
}
.placa{
    text-align: center;
}
img{
    width: 100%;
}
.coin{
    width: 4%;
}
.desconto{
    color: red;
    
}
.iron{
    width: 5%;
}