h1{
    color: #80ffd4;
}
p{
    color: #ffffff;
}
span{
    color: #ffffff;
}

.cabecalho{
    text-align: center;
}
.ancora{
    text-align: center;
}
a{
    color: rgb(71, 221, 26);
    font-family: Arial;
}
.placa{
    text-align: center;
}
img{
    width: 100%;
}
.coin{
    width: 4%;
}
.desconto{
    color: red;
    
}
.iron{
    width: 5%;
}
body{
    background-repeat: repeat;
    background-image: url("../imgs/fundo.jpg");
}