.cabecalho{
    text-align: center;
}
.ancora{
    text-align: center;
}
a{
    color: rgb(0, 0, 0);
    font-family: Arial;
}
.placa{
    text-align: center;
}
img{
    width: 100%;
}
.coin{
    width: 4%;
}
.desconto{
    color: red;
    
}
.iron{
    width: 5%;
}
body{
    background-size: 200px 1500px;
    background-image: url("../imgs/fundo.jpg");
}